{% macro display_variable(num, label, geo=None, moe=None, is_pct=false) %}
    <div style="font-size: 0.8rem;">
        <span style="font-size: 1.5rem">{{ num | format_number }}{{ '%' if is_pct else '' }}</span>
        {% if moe %}
            <span style="color: #767676">
                ± {{ moe | format_number }}{{ '%' if is_pct else '' }}
            </span>
        {% endif %}
        <br/>
        <span style="font-weight: 700">{{ label }}</span><br/>
        {% if geo %}
            <span>{{ geo }}</span>
        {% endif %}
    </div>
{% endmacro %}